# --- Standard IDEs ---
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache

# --- Build Tools ---
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.mvn/wrapper/maven-wrapper.jar

# --- Environments & Secrets ---
.env
.envLocal
.envRemote
*.properties.local

# --- Betriebssysteme & Logs ---
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak