<section th:fragment="createCategory" class="createCategory">
    <div class="mb-4">
        <h1>Neue Kategorie erstellen</h1>
    </div>
    <form class="row g-3" id="createCategoryForm">
        <div class="col-12">
            <label for="inputCategory" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputCategory" placeholder="Wie heißt ihr neues Kategorie?">
        </div>
        <div class="col-12">
            <button type="submit" id="submit" class="btn btn-secondary w-100 btnAddNewProduct">Kategorie hinzufügen</button>
        </div>
    </form>
</section>